[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
autoflake = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
